h1 {
    text-align: center;
}

.avatar {
    border-radius: 50%;
    height: 100px;
    float:right;
}




.astronaut {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 3em;
    border-radius: 6px;
    background-color: rgb(122, 85, 85) ;
    margin-bottom: 3em;
    width: auto;
    
    
    
}

.activated {
    color: green;
}

