h1 {
    text-align: center;
}

.avatar {
    border-radius: 50%;
    height: 100px;
    float: right;
}


.container {
    display: flex;
    margin: auto 0;
    justify-content: center;
}


.astronaut {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 3em;
    border-radius: 3em;
    background-color: rgb(255, 255, 255) ;
    margin-bottom: 3em;
    box-shadow: rgb(56, 49, 49) .25em .25em .5em .5em;
}


.activated {
    color: green;
}

ul {
    justify-content: center;
}
